@import "tailwindcss";

@theme {
  --color-ink: #101A33;
  --color-ink-light: #1B274A;
  --color-paper: #FAFAF8;
  --color-gold: #D9A73E;
  --color-gold-dark: #B8872A;

  --font-display: "Fraunces", serif;
  --font-sans: "Public Sans", sans-serif;
}

body {
  font-family: var(--font-sans);
}